:root {
  --bg_primary: #f7d2a1;
  --bg_secondary: #05057e;
  --text: black;
  --text-background: rgba(255, 255, 255, 0.5);
}

html.dark {
  --bg_primary: black;
  --bg_secondary: grey;
  --text: white;
  --text-background: rgba(0, 0, 0, 0.5);
}

html {
  --s: 149px; /* control the size*/
  --c1: var(--bg_primary);
  --c2: var(--bg_secondary);

  --_g:
    var(--c1) 0% 5%, var(--c2) 6% 15%, var(--c1) 16% 25%, var(--c2) 26% 35%,
    var(--c1) 36% 45%, var(--c2) 46% 55%, var(--c1) 56% 65%, var(--c2) 66% 75%,
    var(--c1) 76% 85%, var(--c2) 86% 95%, #0000 96%;
  background:
    radial-gradient(50% 50% at 100% 0, var(--_g)),
    radial-gradient(50% 50% at 0 100%, var(--_g)),
    radial-gradient(50% 50%, var(--_g)),
    radial-gradient(50% 50%, var(--_g)) calc(var(--s) / 2) calc(var(--s) / 2)
      var(--c1);
  background-size: var(--s) var(--s);
  height: 100%;
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

body {
  background-color: var(--text-background);
  border-radius: 5px;
  color: var(--text);
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  padding: 1rem 2rem;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  body {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: var(--text-background);
  }
}

a:hover {
  text-decoration: underline;
}
main {
  flex: 1;
}

footer {
  display: flex;
  position: sticky;
  justify-content: space-between;
  background: var(--text-background);
  color: var(--text);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: black 2px 2px 5px;
  padding: 2%;
  min-width: fit-content;
}

@media (min-width: 768px) {
  footer {
    display: none;
  }
}
